body {
	background-color: #f0f1f2;
}

#wrapper {
	width: 990px;
	margin: 0 auto;
}

#header {
	height: 70px;
	background-color: #c41200;
	margin: 10px 0;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', san-serif;
}

#header h1{
	color: #fff;
	font-family: 'Roboto Condensed', san-serif;
	font-size: 46px;
	position: absolute;
	bottom: -2px;
	right: -3px;
	margin: 0;
	text-transform: uppercase;
}

#header h1 span{
	font-weight: normal;
}

#content{
	background: #fff;
	border: 1px solid #d9d9d9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
	border-radius: 3px;
	padding: 15px;
}

#content-header{
	border-bottom: 1px solid #d9d9d9;
}

#content-header h2{
	margin: 0;
}

em{
	color: #999999;
}

#content-header span{
	margin: 0;
	float: right;
	font-size: 20px;
	color: #999999;
}

ul{
	list-style: none;
}

.project-box{
	height: 300px;
	width: 300px;
	background-color: yellow;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin: 0 0 5px 5px;
}
