body {
    background-color: #f0f1f2;
}

#wrapper {
    width: 990px;
    margin: 0 auto;
}

#header {
    height: 70px;
    background-color: #c41200;
    margin: 10px 0;
    position: relative;
    border: 1px solid #c41200;
    border-radius: 0 13px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', san-serif;
}

#header h1{
    color: #f0f1f2;
    font-family: 'Roboto Condensed', san-serif;
    font-size: 50px;
    position: absolute;
    bottom: -7px;
    right: -5px;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
}

#header h1 span{
    font-weight: 200;
}

#content{
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
    border-radius: 3px;
    padding: 15px;
    position: relative;
}

#content-header{
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
    position: relative;
}

#content .award {
   position: absolute;
   right: -5px;
   top: -5px;
   z-index: 100;
   width: 50px;
}

#content-header h2{
    margin: 0;
}

em{
    color: #999999;
}

#content-header span{
    margin: 0;
    float: right;
    font-size: 20px;
    color: #999999;
}

#project-boxes{
    list-style: none;
    margin: 0;
}

.project-box{
    height: 314px;
    width: 314px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin: 0 8px 8px 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100% auto;
}

.project-box a {
   display: block;
   height: 100%;
   width: 100%;
   text-decoration: none;
}

.project-box h3 {
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0 8px;
}

.project-box:nth-of-type(3n){
    margin-right: 0;
}

.project-box .more-info {
    background: rgba(0, 0, 0, 0.5);
    color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    overflow: hidden;
}	

.project-box .project-desc {
    width: 303px;
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-style: italic;
}

.project-box .hacker-names {
    padding: 2px 5px;
}

.project-box .award {
   position: absolute;
   right: -10px;
   top: -10px;
   width: 32px;
}

.remove-member {
	font-weight: bold;
	font-size: 10px;
	color: #fff;
	border: none;
	padding: 0 5px;
	padding-top: -2px;
	border-radius: 20px;
	background-color: #ccc;
	line-height: 1.6;
	margin-left: 5px;
}

.member-element {
	float:left;
	margin: 0 5px 0 0;
}

ul{
	list-style: none;
}

#nav{
	bottom: 0;
	position: fixed;
	background-color: #fff9e5;
	right: 100px;
	border-radius: 10px 10px 0 0;
	padding: 10px 10px 0 10px;
	cursor: pointer;
	margin: 0;
}

#nav li ul {
	display: none;
	list-style: none;
	margin-left: 0;
}

.child li{
	margin: 0 -10px;
	padding-left: 10px;
	line-height: 2;
}

#nav a{
	color: #323232;
}

#nav a:hover{
	text-decoration: none;
}

.child li:hover{
	background-color: #ffba00;
}
