{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div id="content-header">
        <h2>{{ project.name }}</h2>
        <em><a href="/project/{{ project.id }}">< Back to project page</a></em>
    </div>

    <form name="input" action="/update_project/" method="post">
        <label>Description</label>
        <textarea name="description" class="input-xxlarge" rows="8">{{ project.description }}</textarea>

        <label>Repo Link</label>
        <p><input type="text" class="input-xxlarge" value='{{ project.link }}' /></p>

        <input type="submit" value="Update">
    </form>

{% endblock %}

