{% extends "base.html" %}
{% block title %}Hackathon {{ hackathon_id }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="content-header">
  <span>{{ hackathon.project_count }} projects</span>
  <h2>Hackathon {{ hackathon.number }}</h2>
  <em>3/16/2013</em>
</div>
<ul class="clearfix" id="project-boxes">
  {% for project in hackathon.projects %}
  <li class="project-box" style="background-image: {{ project['cover_img'] }}">
    <h3>{{ project.name }}</h3>
    <p>{{ project.description }}</p>
    {{ project.members_string }}
  </li>
  {% endfor %}
</ul>
{% endblock %}
