{% extends "base.html" %}
{% block title %}Hackathon {{ hackathon.number }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="content-header">
  <span>{{ hackathon.project_count }} projects</span>
  <h2>Hackathon {{ hackathon.number }}</h2>
  <a href="{{ models.Project.add_url }}">Add a Project</a>
</div>
<ul class="clearfix" id="project-boxes">
  {% for project in logic.sort_projects_by_awards(hackathon.projects) %}
    <li class="project-box"
      style="background-image: url('{{ project.get_photo().thumbnail_url }}')"
      >
      <a href="{{ project.url }}">
         {% for award in project.awards %}
            <img class="award" src={{ award.photos[0].url }}>
         {% endfor %}
	<h3>{{ project.name }}</h3>
	<div class="more-info">
	  <p class="project-desc">{{ project.description }}</p>
	  <div class="hacker-names">
	    {% for i in range(len(project.persons)) %}
	    {% if not i == range(len(project.persons))[-1] %}
	    {{ project.persons[i].yelp_handle }},
	    {% else %}
	    {{ project.persons[i].yelp_handle }}
	    {% endif %}
	    {% endfor %}
	  </div>
	</div>
      </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
