{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
   <div id="content-header">
        <h2>{{ project.name }}</h2>
        <em><a href="{{ project.hackathon.url }}">
	    Hackathon {{ project.hackathon.number }}
	</a>
	</em>
    </div>

    <label>Description</label>
    <p>
    {% if project.description %}
        {{ project.description }}
    {% else %}
        No description available. Please click "edit description" below to provide a description for this project.
    {% endif %}
    </p>
    <span class="edit" value="update-description">[edit description]</span>
    <form class="hide" id="update-description" action="{{ project.update_url('description') }}" method="post">
        <textarea name="description" class="input-xxlarge" rows="8">
            {% if project.description %}
                {{ project.description }}
            {% endif %}
        </textarea>
        <input type="hidden" name="project_id" value="{{ project.id }}">
        <input type="submit" value="Update">
    </form>
    
    <label>Members</label>
    <p>
    {% if len(project.persons) > 0 %}
    {% for person in project.persons %}
    <form class="member-element" action="{{ project.remove_person_url }}" method="post">
        <a href="{{ person.url }}"> {{ person.__str__() }}</a><input class="hide remove-member" type="Submit" value="X"/>
        <input type="hidden" name="person" value="{{ person.yelp_handle }}" />
        <input type="hidden" name="project_id" value="{{ project.id }}">
    </form>
    {% endfor %}
    {% else %}
        No members added. Please click "edit members" below to add the members of this project.
    {% endif %}
    </p>
    <span class="edit" value="update-members">[edit members]</span>
    <form class="hide" id="update-members" action="{{ project.add_person_url }}" method="post">
        <input id="member-input" type="text" name="person" class="input-xxlarge" />
        <input type="hidden" name="project_id" value="{{ project.id }}">
        <input type="submit" value="Add">
    </form>

    <label>Repository Link</label>
    <p>
    {% if project.link != None %}
    <a href='{{ project.link }}'>{{ project.link }}</a>
    {% else %}
        No link available. Please click "edit link" below to add a link for this project.
    {% endif %}
    </p>
    <span class="edit" value="update-link">[edit link]</span>
    <form class="hide" id="update-link" action="{{ project.update_url('link')}}" method="post">
        {% if project.link != None %}
            <input type="text" name="link" class="input-xxlarge" value='{{ project.link }}' />
        {% else %}
            <input type="text" name="link" class="input-xxlarge" value='' />
        {% endif %}
        <input type="hidden" name="project_id" value="{{ project.id }}">
        <input type="submit" value="Update">
    </form>

    <label>Photos</label>
    <p>
        {% if len(project.photos) == 0 %}
             <p>No photos found. Please click "upload photo" below to upload a photo for this project.</p>
        {% else %}
            {% for photo in project.photos %}
                 <img src="{{ photo.url }}" />
            {% endfor %}
        {% endif %}
    </p>
    <span class="edit" value="update-photo">[upload photo]</span>
    <form class="hide" id="update-photo" name="input" action="{{ project.add_photo_url }}" method="post" enctype="multipart/form-data">
      <input type="file" name="photo">
        <input type="hidden" name="project_id" value="{{ project.id }}">
        <input type="submit" value="Submit">
    </form>

{% endblock %}
