{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div id="content-header">
        <h2>{{ project.name }}</h2>
        <em><a href="/{{ project.hackathon_id }}">Hackathon {{ project.hackathon_id }}</a></em>
    </div>
    <label>Description</label>
    <p>{{ project.description }}</p>

    <label>Members</label>
    <p>{{ project.members_string }}</p>

    <label>Repo Link</label>
    <p><a href='{{ project.link }}'>{{ project.link }}</a></p>

    <label>Photos</label>
    <p>
        {% for photo in project.photos %}
             <img src="{{ photo.url }}" />
        {% endfor %}
    </p>
    <span class="drop-down-labal">Upload Photo</span>
    <form name="input" action="/upload_photo_for_project/" method="post" enctype="multipart/form-data">
        <input type="file" name="photo">
        <input type="hidden" name="project_id" value="{{ project.id }}">
        <input type="submit" value="Submit">
    </form>

{% endblock %}
